<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>TrialPEMProject</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <meta content="" name="keywords" />
  <meta content="" name="description" />

  <!-- Favicons -->
  <link href="{{ url_for('static', filename='img/favi.png') }}" rel="icon" />
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon" />

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,600,700,700i|Montserrat:300,400,500,600,700"
    rel="stylesheet" />

  <!-- Bootstrap CSS File -->
  <link href="{{ url_for('static', filename='lib/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" />

  <!-- Libraries CSS Files -->
  <link href="{{ url_for('static', filename='lib/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" />
  <link href="{{ url_for('static', filename='lib/animate/animate.min.css') }}" rel="stylesheet" />
  <link href="{{ url_for('static', filename='lib/ionicons/css/ionicons.min.css') }}" rel="stylesheet" />
  <link href="{{ url_for('static', filename='lib/owlcarousel/assets/owl.carousel.min.css') }}" rel="stylesheet" />
  <link href="{{ url_for('static', filename='lib/lightbox/css/lightbox.min.css') }}" rel="stylesheet" />
  <!-- Main Stylesheet File -->
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" />
</head>

<body>
  <!--==========================
  Header
  ============================-->
  <header id="header">
    <div id="topbar">
      <div class="container">

      </div>
    </div>

    <div class="container">
      <div class="logo float-left">
        <a href="#header" class="scrollto"><img style="margin-top: -20px; min-height: 100px"
            src="{{ url_for('static', filename='img/DisasterWatch.png') }}" alt="" class="img-fluid" /></a>
      </div>

      <nav class="main-nav float-right d-none d-lg-block">
        <ul>
          <li class="active"><a href="index.html">Home</a></li>
          <!-- <li ><a href="earthquake.html">Earthquake</a></li> -->
          <li><a href="predicts.html">Predict</a></li>
          <!-- <li><a href="index_fire.html">Forest Fires</a></li> -->
          <!-- <li><a href="predict_automatically">AQI</a></li> -->
        </ul>
      </nav>
      <!-- .main-nav -->
    </div>
  </header>
  <!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
  <section id="intro" class="clearfix">
    <div class="container d-flex h-100">
      <div class="row justify-content-center align-self-center">
        <div class="col-md-5 intro-info order-md-first order-last"
          style="background-color: transparent; padding-right: 50px">
          <!-- <h2 style="color:#00BFFF;">FloodML</h2> -->
          <a href="#header" class="scrollto"><img style="margin-top: 0px; max-height: 600px"
              src="{{ url_for('static', filename='img/DisasterWatch.png') }}" alt="" class="img-fluid" /></a>
          <h3 style="padding-top: 30px; padding-left: 10px; line-height: 40px">
            Helping prepare people and their governments against climate change impacts.
          </h3>
          <br />
          <div style="padding-left: 10px">
            <a href="#about" class="btn-get-started scrollto">Get Started</a>
          </div>
        </div>

        <div class="col-md-7 intro-img order-md-last order-first" style="background-color: transparent">
          <iframe width="750" height="500" src="https://www.youtube.com/embed/UKuWiuoNbZw" title="YouTube video player"
            frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture;"
            allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </section>
  <!-- #intro -->

  <main id="main">
    <!--==========================
      About Us Section
    ============================-->
    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-md-6">
            <div class="about-img">
              <img src="{{ url_for('static', filename='img/bgimg.jpg') }}" alt="" />
            </div>
          </div>

          <div class="col-lg-7 col-md-6">
            <div class="about-content">
              <h2>About DisasterWatch</h2>
              <h3>
                A web app to help users and the government prepare for and
                reallocate resources for floods.
              </h3>
              <p>
                Floods are one of the most dangerous and frequent natural
                disasters in the world.
              </p>
              <p>
                Every year, thousands of people die from floods and
                millions of people lose their homes and livelihoods. In many
                countries around the world, some of the world's worst disasters
                have killed thousands, if not
                millions of people.
              </p>
              <p>
                Our team wanted to help solve this problem, so we created
                DisasterWatch to predict floods.
                Then, we display this information in an easy
                to understand format for people and governments alike.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- #about -->

    <!--==========================
      Services Section
    ============================-->
    <section id="services" class="section-bg">
      <div class="container">
        <header class="section-header">
          <h3>Services</h3>
          <p>
            Our website offers the service to help people plan and prepare for floods
          </p>
        </header>

        <div class="row justify-content-center">
          <div class="col-md-6 col-lg-4 d-flex justify-content-center" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="box text-center" style="height: 320px">
              <div class="icon" style="background: #e6fdfc">
                <i class="ion-ios-rainy-outline" style="color: #3fcdc7"></i>
              </div>
              <h4 class="title">
                <a href="predicts.html">Predict Floods</a>
              </h4>
              <p class="description">
                Our website allows you to predict floods in realtime
                through our machine learning algorithm.
              </p>
            </div>
          </div>
        </div>
      </div>

    </section>
    <!-- #services -->

    <!--==========================
      Why Us Section
    ============================-->
    <section id="why-us" class="wow fadeIn">
      <div class="container">
        <div class="row counters">
          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">25</span>
            <p>
              Percent of deaths from natural disasters attributed to floods
            </p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">2.3</span>
            <p>Billion people affected in the last 2 decades</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">40</span>
            <p>Billion dollars in damages worldwide annually</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">1</span>
            <p>Million people were displaced in India in 2023 alone.</p>
          </div>
        </div>
      </div>
    </section>
  </main>

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <!-- Uncomment below i you want to use a preloader -->
  <!-- <div id="preloader"></div> -->

  <!-- JavaScript Libraries -->
  <script src="{{ url_for('static', filename='lib/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/jquery/jquery-migrate.min.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/easing/easing.min.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/mobile-nav/mobile-nav.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/wow/wow.min.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/waypoints/waypoints.min.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/counterup/counterup.min.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/owlcarousel/owl.carousel.min.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/isotope/isotope.pkgd.min.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/lightbox/js/lightbox.min.js') }}"></script>
  <!-- Contact Form JavaScript File -->
  <script src="{{ url_for('static', filename='contactform/contactform.js') }}"></script>

  <!-- Template Main Javascript File -->
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>